@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins','Courier New', Courier, monospace;
    font-size: 16px;
}


h1,h2,h3 {
    color:#000;
}

ul li{
   list-style-type: none; 
}

nav li{
    list-style-type: none;
    text-decoration: underline;
}



.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header{
    grid-column: span 3;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid rgb(210, 217, 223);
}

nav{
    border-right: 1px solid rgb(210, 217, 223);
    padding: 0 30px 30px 30px;
}

nav p{
    font-weight: bolder;
    font-size: 1.2rem;
}

article{
    padding:50px;
}

article h1{
    font-size: 2rem;
    font-weight: bolder;
}

article img{
    width:100%;
}

aside{
    border-left:1px solid rgb(210, 217, 223);
}


footer{
    grid-column: span 3;
    border-top: 1px solid rgb(210, 217, 223);
    text-align: center;
    padding-top: 30px;
}


/* responsive */
@media screen and (max-width: 990px) {
    body{
        font-size: 12px;
        max-width: 300px;
    }
    nav{
        grid-column: span 3;
        text-align: center;
        border-right: 0;
        border-bottom: 1px solid rgb(210, 217, 223);
    }

    nav li{
        display: inline;
        padding: 0 10px;
    }

    article{
        grid-column: span 3;
        text-align: center;
        border-bottom: 1px solid rgb(210, 217, 223);
    }

    aside{
        grid-column: span 3;
        border-left:0;
        text-align: center;
        padding: 0 10px; 
    }

    aside li{
        padding: 0.1rem 0;
    }
}